
# Created by https://www.gitignore.io/api/django,python,virtualenv
# Edit at https://www.gitignore.io/?templates=django,python,virtualenv

### Git ###
.git
.gitignore

### Docker ###
Dockerfile
.dockerignore
*.yml

### Node ###
.DS_Store
node
node_modules
.env.local
.env.*.local

### Nuxt ###
.nuxt
dist

### Log files ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Editor directories and files ###
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

README.md
LICENSE
